<footer>
    <div class="flexbox">
        <div class="box">
            <div class="top">Find me on:</div>
            <div class="bot">
                {% for item in site.data.social %}
                <a class="social" href="{{item.url}}" title="{{item.url}}">
                    <i class="{{item.icon}}"></i>
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="box">
            <a class="top" href="/Tags">Tags</a>
            <a class="bot" href="/Categories">Categories</a>
        </div> -->
        <!-- <div class="box">
            <div class="top">Contact me:</div>
            <a class="bot" href="mailto://{{site.author.email}}">{{site.author.email}}</a>
        </div> -->
        <div class="box">
            <div class="top">Choose a different font:</div>
            <div class="bot">
                <select id="toggle-font">
                    <option value="Comfortaa" style="font-family: 'Comfortaa'">Comfortaa</option>
                    <option value="Montserrat" style="font-family: 'Montserrat'">Montserrat</option>
                    <option value="Open Sans" style="font-family: 'Open Sans'">Open Sans</option>
                    <option value="Computer Modern Sans" style="font-family: 'Computer Modern Sans'">Computer Modern Sans</option>
                    <option value="Computer Modern Serif" style="font-family: 'Computer Modern Serif'">Computer Modern Serif</option>
                </select>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" lang="javascript">

    const toggleTheme = document.querySelector('.toggle-theme input[type="checkbox"]');
    const fontSelect = document.querySelector('#toggle-font');

    const currentTheme = localStorage.getItem('theme');
    const currentFont = localStorage.getItem('font');
    
    const currentTheme_SS = sessionStorage['theme'];
    const currentFont_SS = sessionStorage['font'];

    /*
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        toggleTheme.checked = currentTheme === 'dark';
    }
    else
        toggleTheme.checked = true;

    if (currentFont) {
        document.documentElement.setAttribute('data-font', currentFont);
        fontSelect.value = currentFont;
    }
    */    
    
    if (currentTheme_SS) {
        document.documentElement.setAttribute('data-theme', currentTheme_SS);
        toggleTheme.checked = currentTheme_SS === 'dark';
    }
    else
        toggleTheme.checked = true;

    if (currentFont_SS) {
        document.documentElement.setAttribute('data-font', currentFont_SS);
        fontSelect.value = currentFont_SS;
    }

    function switchTheme(e) {
        var t = e.target.checked ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', t);
        //localStorage.setItem('theme', t);
        sessionStorage['theme'] = t;
    }

    function switchFont(e) {
        document.documentElement.setAttribute('data-font', e.target.value);
        //localStorage.setItem('font', e.target.value);
        sessionStorage['font'] = e.target.value;
    }

    toggleTheme.addEventListener('change', switchTheme, false);
    fontSelect.addEventListener('change', switchFont, false);

    
function unblockVideos() {
    document.querySelectorAll('.video_wrapper .video_trigger').forEach(function(_trigger) {
        _trigger.style.display = 'none';
        
        for (var i = 0; i < _trigger.parentNode.childNodes.length; i++)
        {
            var video_layer = _trigger.parentNode.childNodes[i];
            
            if (video_layer.className != "video_layer")
                continue;
            
            video_layer.style.display = 'block';

            for (var j = 0; j < video_layer.childNodes.length; j++)
            {
                var iframe = video_layer.childNodes[j];
                
                console.log(iframe);
                console.log(iframe.tagName);
                
                if (iframe.tagName.toLowerCase() != 'iframe')
                    continue;
                
                var videoId = _trigger.getAttribute('data-source');
                
                iframe.src = 'https://www.youtube-nocookie.com/embed/' + videoId + '?controls=1&showinfo=0&autoplay=0&mute=1';
            }
        }
    });
}
document.addEventListener("DOMContentLoaded", function(event) {
    //const consent = sessionStorage['youtube-consent'];
    //if (consent && consent == 1) {
    //    unblockVideos();
    //} else {
        document.querySelectorAll('.video_wrapper .video_trigger .video-btn').forEach(function(node) {
            node.addEventListener("click", function(event) {
                sessionStorage['youtube-consent'] = 1;
                unblockVideos();
            });
        });
    //}
});
    
</script>
