
<footer>
    <div class="flexbox">
        <div class="box">
            <div class="top">Find me on:</div>
            <div class="bot">
                {% for item in site.data.social %}
                    <a class="social" href="{{item.url}}" title="{{item.url}}">
                        <span class="dot col-{{item.color}}">.</span>
                        {{item.text}}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="box">
            <div class="top">Contact me:</div>
            <a class="bot" href="mailto://{{site.author.email}}">{{site.author.email}}</a>
        </div>
    </div>
</footer>

<script type="text/javascript" lang="javascript">

const toggleSwitch = document.querySelector('.toggle-theme input[type="checkbox"]');
const currentTheme = localStorage.getItem('theme');

if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);
  
    if (currentTheme === 'dark') {
        toggleSwitch.checked = true;
    }
}

function switchTheme(e) {
    if (e.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
    }
    else {        document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
    }    
}

toggleSwitch.addEventListener('change', switchTheme, false);
</script>
