<header>

    <div class="head">
        <a href="/">
            <span class="title">{{site.title}}</span>
        </a>
        <a href="/" >
            <img alt="logo" class="logo" src="/assets/logo.png">
        </a>

        <div class="toggle-theme">
            <input id="toggle-theme-checkbox" type="checkbox"/>
            <label for="toggle-theme-checkbox" class="toggle-theme-icon">
                <svg id="icon-theme" xmlns="http://www.w3.org/2000/svg" width="4em" height="2em" viewBox="0 0 42 24" fill="none"
                     stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="12" y1="1" x2="12" y2="3" />
                    <line x1="12" y1="21" x2="12" y2="23" />
                    <line x1="1" y1="12" x2="3" y2="12" />
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                    <circle cx="12" cy="12" r="5" fill="currentColor" />
    
                    <line x1="22" y1="0" x2="22" y2="24" stroke-width="0.5" /> 
    
                    <circle cx="32" cy="12" r="5" fill="currentColor" mask="url(#mask-moon)" />
    
                    <mask id="mask-moon">
                        <rect x="0" y="0" width="100%" height="100%" fill="white" /> 
                        <circle cx="39" cy="9" r="8" fill="black" stroke="white" /> 
                    </mask>
                </svg>
            </label>
        </div>
    </div>

    <nav>
        <div class=flexbox>
            {% for item in site.data.navigation %}

            <div class="box">
                <a class="link" href="{{item.url | relative_url}}" title="{{item.text}}">
                    <span class="dot col-{{item.color}}">.</span>
                    {{item.text}}
                    {% if item.icon %}
                        <p class={{item.icon}}></p>
                    {% endif %}
                </a>
            </div>

            {% endfor %}

        </div>
    </nav>

</header>
