<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">
  <link rel="icon" type="image/png" href="/assets/favicon.png"/>

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <meta name=”description” content="Personal website of 3li @ nonsensation"> 
  <meta name=”keywords” content="Programming, 3D, Compiler, Programming Langueage Design"> 
  <meta name="author" content="3li @ nonsensation">

  {% if page.mathjax == true %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']],
          displayMath: [['//[', '//]'],['//(', '//)']],
          processEscapes: true,
          processEnvironments: true
        },
        svg: {
          fontCache: 'global'
        }
      };
      </script>
      <script type="text/javascript" id="MathJax-script"
        async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
      </script>
  {% endif %}

  <title>{{site.title}}</title>

</head>
