

.col-aliceblue {
  color: aliceblue;
}
.col-antiquewhite {
  color: antiquewhite;
}
.col-aqua {
  color: aqua;
}
.col-aquamarine {
  color: aquamarine;
}
.col-azure {
  color: azure;
}
.col-beige {
  color: beige;
}
.col-bisque {
  color: bisque;
}
.col-black {
  color: black;
}
.col-blanchedalmond {
  color: blanchedalmond;
}
.col-blue {
  color: blue;
}
.col-blueviolet {
  color: blueviolet;
}
.col-brown {
  color: brown;
}
.col-burlywood {
  color: burlywood;
}
.col-cadetblue {
  color: cadetblue;
}
.col-chartreuse {
  color: chartreuse;
}
.col-chocolate {
  color: chocolate;
}
.col-coral {
  color: coral;
}
.col-cornflowerblue {
  color: cornflowerblue;
}
.col-cornsilk {
  color: cornsilk;
}
.col-crimson {
  color: crimson;
}
.col-cyan {
  color: cyan;
}
.col-darkblue {
  color: darkblue;
}
.col-darkcyan {
  color: darkcyan;
}
.col-darkgoldenrod {
  color: darkgoldenrod;
}
.col-darkgray {
  color: darkgray;
}
.col-darkgrey {
  color: darkgrey;
}
.col-darkgreen {
  color: darkgreen;
}
.col-darkkhaki {
  color: darkkhaki;
}
.col-darkmagenta {
  color: darkmagenta;
}
.col-darkolivegreen {
  color: darkolivegreen;
}
.col-darkorange {
  color: darkorange;
}
.col-darkorchid {
  color: darkorchid;
}
.col-darkred {
  color: darkred;
}
.col-darksalmon {
  color: darksalmon;
}
.col-darkseagreen {
  color: darkseagreen;
}
.col-darkslateblue {
  color: darkslateblue;
}
.col-darkslategray {
  color: darkslategray;
}
.col-darkslategrey {
  color: darkslategrey;
}
.col-darkturquoise {
  color: darkturquoise;
}
.col-darkviolet {
  color: darkviolet;
}
.col-deeppink {
  color: deeppink;
}
.col-deepskyblue {
  color: deepskyblue;
}
.col-dimgray {
  color: dimgray;
}
.col-dimgrey {
  color: dimgrey;
}
.col-dodgerblue {
  color: dodgerblue;
}
.col-firebrick {
  color: firebrick;
}
.col-floralwhite {
  color: floralwhite;
}
.col-forestgreen {
  color: forestgreen;
}
.col-fuchsia {
  color: fuchsia;
}
.col-gainsboro {
  color: gainsboro;
}
.col-ghostwhite {
  color: ghostwhite;
}
.col-gold {
  color: gold;
}
.col-goldenrod {
  color: goldenrod;
}
.col-gray {
  color: gray;
}
.col-grey {
  color: grey;
}
.col-green {
  color: green;
}
.col-greenyellow {
  color: greenyellow;
}
.col-honeydew {
  color: honeydew;
}
.col-hotpink {
  color: hotpink;
}
.col-indianred {
  color: indianred;
}
.col-indigo {
  color: indigo;
}
.col-ivory {
  color: ivory;
}
.col-khaki {
  color: khaki;
}
.col-lavender {
  color: lavender;
}
.col-lavenderblush {
  color: lavenderblush;
}
.col-lawngreen {
  color: lawngreen;
}
.col-lemonchiffon {
  color: lemonchiffon;
}
.col-lightblue {
  color: lightblue;
}
.col-lightcoral {
  color: lightcoral;
}
.col-lightcyan {
  color: lightcyan;
}
.col-lightgoldenrodyellow {
  color: lightgoldenrodyellow;
}
.col-lightgray {
  color: lightgray;
}
.col-lightgrey {
  color: lightgrey;
}
.col-lightgreen {
  color: lightgreen;
}
.col-lightpink {
  color: lightpink;
}
.col-lightsalmon {
  color: lightsalmon;
}
.col-lightseagreen {
  color: lightseagreen;
}
.col-lightskyblue {
  color: lightskyblue;
}
.col-lightslategray {
  color: lightslategray;
}
.col-lightslategrey {
  color: lightslategrey;
}
.col-lightsteelblue {
  color: lightsteelblue;
}
.col-lightyellow {
  color: lightyellow;
}
.col-lime {
  color: lime;
}
.col-limegreen {
  color: limegreen;
}
.col-linen {
  color: linen;
}
.col-magenta {
  color: magenta;
}
.col-maroon {
  color: maroon;
}
.col-mediumaquamarine {
  color: mediumaquamarine;
}
.col-mediumblue {
  color: mediumblue;
}
.col-mediumorchid {
  color: mediumorchid;
}
.col-mediumpurple {
  color: mediumpurple;
}
.col-mediumseagreen {
  color: mediumseagreen;
}
.col-mediumslateblue {
  color: mediumslateblue;
}
.col-mediumspringgreen {
  color: mediumspringgreen;
}
.col-mediumturquoise {
  color: mediumturquoise;
}
.col-mediumvioletred {
  color: mediumvioletred;
}
.col-midnightblue {
  color: midnightblue;
}
.col-mintcream {
  color: mintcream;
}
.col-mistyrose {
  color: mistyrose;
}
.col-moccasin {
  color: moccasin;
}
.col-navajowhite {
  color: navajowhite;
}
.col-navy {
  color: navy;
}
.col-oldlace {
  color: oldlace;
}
.col-olive {
  color: olive;
}
.col-olivedrab {
  color: olivedrab;
}
.col-orange {
  color: orange;
}
.col-orangered {
  color: orangered;
}
.col-orchid {
  color: orchid;
}
.col-palegoldenrod {
  color: palegoldenrod;
}
.col-palegreen {
  color: palegreen;
}
.col-paleturquoise {
  color: paleturquoise;
}
.col-palevioletred {
  color: palevioletred;
}
.col-papayawhip {
  color: papayawhip;
}
.col-peachpuff {
  color: peachpuff;
}
.col-peru {
  color: peru;
}
.col-pink {
  color: pink;
}
.col-plum {
  color: plum;
}
.col-powderblue {
  color: powderblue;
}
.col-purple {
  color: purple;
}
.col-red {
  color: red;
}
.col-rosybrown {
  color: rosybrown;
}
.col-royalblue {
  color: royalblue;
}
.col-saddlebrown {
  color: saddlebrown;
}
.col-salmon {
  color: salmon;
}
.col-sandybrown {
  color: sandybrown;
}
.col-seagreen {
  color: seagreen;
}
.col-seashell {
  color: seashell;
}
.col-sienna {
  color: sienna;
}
.col-silver {
  color: silver;
}
.col-skyblue {
  color: skyblue;
}
.col-slateblue {
  color: slateblue;
}
.col-slategray {
  color: slategray;
}
.col-slategrey {
  color: slategrey;
}
.col-snow {
  color: snow;
}
.col-springgreen {
  color: springgreen;
}
.col-steelblue {
  color: steelblue;
}
.col-tan {
  color: tan;
}
.col-teal {
  color: teal;
}
.col-thistle {
  color: thistle;
}
.col-tomato {
  color: tomato;
}
.col-turquoise {
  color: turquoise;
}
.col-violet {
  color: violet;
}
.col-wheat {
  color: wheat;
}
.col-white {
  color: white;
}
.col-whitesmoke {
  color: whitesmoke;
}
.col-yellow {
  color: yellow;
}
.col-yellowgreen {
  color: yellowgreen;
}
