@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


// --->
:root {
  --col-bg: #0f0f0f;
  --col-bg-accent: #181818;
  --col-accent: dimgrey;
  --col-txt-heading: lightgrey;
  --col-txt: grey;
  --col-txt-hover: teal;
  --col-txt-highlight: dimgrey;
}

[data-theme="dark"] {
  --col-bg: #f0f0f0;
  --col-bg-accent: #ddd;
  --col-accent: dimgrey;
  --col-txt-heading: #0f0f0f;
  --col-txt: #181818;
  --col-txt-hover: crimson;
  --col-txt-highlight: dimgrey;
}

.toggle-theme input[type=checkbox] {
  display: none;
}
.toggle-theme {
  margin-top: 30px;
  margin-bottom: -20px;
}

.toggle-theme-icon {
  width: 1em;
  cursor: pointer;
}

#icon-theme {
  height: clamp(30px,10vw,2em);
}

.toggle-theme-icon:hover {
  color: var(--col-txt-hover)
}

// --->

:root{
  scrollbar-color: var(--col-txt-hover) var(--col-bg-accent);
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}
*::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button{
  display:none;
}
*::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  background-color: transparent;
  border: 1px solid var(--col-txt-highlight);
  border-radius:4px;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa";
  font-family: "Montserrat", sans-serif;
  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  font-size: 22px;

  background: var(--col-bg);
  color: var(--col-txt-heading) !important;
}

// ---> a
a {
  color: var(--col-txt);
  text-decoration: none;
}
a:visited {
  color: var(--col-txt);
}
a:hover {
  color: var(--col-txt-hover) !important;
}

// ---> main

main {
  min-height: 80vh;
}

body {
  width: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 90vw;
  grid-template-rows: auto 1fr auto;
}

// ---> header

header {
  width: 100%;
  border-bottom: 1px solid var(--col-accent);
  padding: 20px 0;
  text-transform: lowercase;
  text-align: center;
  margin: 0 auto;
}

header .head {
  margin: 30px auto;
  position: relative;
  text-align: center;
  display: inline-block;
}

header .title {
  text-decoration: none;
  color: var(--col-txt-heading);
  font-size: clamp(0.01em,6vw,1.5em);
  font-weight: 300;
  letter-spacing: 0.75em;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  max-width: 100vw;
}

header .logo {
  width: 100%;
  max-width: 20vh;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  opacity: 99%;
}

header .link {
  color: var(--col-txt-heading);
  font-weight: 500;
}

// --->

.line {
  top: 50%;
  margin: 30px auto;
  border-right: 2px solid var(--col-accent);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

// --->

.vertical {
  margin: 40px 50%;
  border-left: 2px solid var(--col-accent);
  height: 80px;
}

// ---> intro

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCussor 1s step-end infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCussor {
  50% {
    border-right-color: var(--col-txt);
  }
  from,
  to {
    border-right-color: transparent;
  }
}

.intro {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: normal;
  overflow: hidden;
  margin-bottom: 30vh;
}

.intro h1 {
  font-weight: 600;
  text-align: center;
  letter-spacing: -2px;
  line-height: clamp(0.7em,8vw,2.7em);
  font-size: clamp(0.5em,6vw,2em);
  color: var(--col-txt-heading);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--col-accent);
  border-right: 2px solid var(--col-accent);
  transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

// ---> cards

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: min(5%, 50px);
  justify-content: space-between;
  margin-top: -20px;
}

.card-title {
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 400;
  padding: 30px;
}

.card {
  flex: 1 1 max(400px, 20%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  border: 2px solid var(--col-bg-accent);
  margin: 20px auto;
  // background-color: #181818;
}

.card:hover {
  border-color: var(--col-accent);
}

.card,
.page-content {
  max-width: 1280px;
}

.card-txt,
.page-content {
  font-size: 1em;
  line-height: 1.6em;
  color: var(--col-txt);
  text-align: justify;
}

.card a {
  text-decoration: none;
  color: var(--col-txt-heading);
  margin: auto;
}

.card-img {
  margin-bottom: 30px;
}

.mask {
  -webkit-mask-image: url(/assets/mask1.png);
  -webkit-mask-image: url(/assets/mask2.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-image: url(/assets/mask2.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

section h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  margin: 50px auto;
}

// ---> page-content

.page-content {
  margin: 50px auto;
  width: 90vw;
  // text-align: justify;
  overflow: auto;
}

.page-content a {
  text-decoration: underline 1px solid var(--col-txt);
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  color: var(--col-txt-heading);
}

.page-content h1 {
  margin: 60px auto;
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.25em;
}
.page-content h2 {
  margin: 50px auto;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: 4px solid underline var(--col-txt-hover);
}
.page-content h3 {
  margin: 40px auto;
  font-weight: 700;
  font-size: 1.3em;
  text-decoration: 2px solid underline var(--col-txt-hover);
}
.page-content h4 {
  font-size: 1em;
  margin: 30px auto;
}
.page-content h5 {
  font-size: 1em;
  font-weight: 500;
  margin: 20px auto;
}
.page-content h6 {
  font-weight: 500;
  font-size: 0.8em;
  margin: 10px auto;
}

img {
  max-width: 100%;
  max-height: 50vh;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 60%;
}
thead tr {
  background-color: var(--col-bg-accent);
  color: var(--col-txt-heading);
  text-align: left;
  border-bottom: 1px solid var(--col-bg-accent);
}
th,
td {
  padding: 12px 15px;
}
tbody tr:nth-of-type(even) {
  background-color: var(--col-bg);
}
tbody tr:last-of-type {
  border-bottom: 2px solid var(--col-bg-accent);
}
tbody tr:hover {
  color: var(--col-txt-heading);
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  line-height: normal;
}

pre {
  font-size: 75%;
  background-color: transparent;
  border: 1px solid var(--col-bg-accent);
  padding: 20px;
  overflow-x: auto;
  border-radius: 5px;
  scrollbar-color: dark;
}

// ---> footer

footer {
  border-top: 1px solid var(--col-accent);
  margin: 50px 0 100px 0;
  padding: 50px 0;
  font-size: 0.9em;
}

.flexbox {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: right;
  flex: 1 1 150px;
  display: grid;
  place-items: center;
}

.top {
  color: var(--col-txt);
}

.bot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: var(--col-txt-heading) !important;
}

.social {
  padding: 0 20px;
  color: var(--col-txt-heading) !important;
}

.dot {
  font-weight: 600;
  font-size: 1.5em;
  opacity: 70%;
}
