
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

// @import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import "fonts";
@import "icomoon";

// --->
:root {
  --col-bg: #0f0f0f;
  --col-bg-accent: #282828;
  --col-bg-highlight: #144552;
  --col-accent: dimgrey;
  --col-txt-heading: lightgrey;
  --col-txt: DarkGray	;
  --col-txt-hover: teal;
  --col-txt-highlight: dimgrey;

  --col-good: green;
  --col-bad: red;

  --line-px: 1px;
  --line-border: var(--line-px) solid var(--col-accent);
  --border-radius: 3px;

  --font: "Comfortaa";
  --code-font: 'Source Code Pro', monospace;
  --code-font-size: 60%;

  // font-family: 'Roboto Mono', monospace;
  // font-family: 'Inconsolata', monospace;
  // font-family: 'Source Code Pro', monospace;
  // font-family: 'JetBrains Mono', monospace;
  // font-family: 'Space Mono', monospace;
  // font-family: 'PT Mono', monospace;  
  // font-family: 'Anonymous Pro', monospace;
  // font-family: 'Ubuntu Mono', monospace;
  // font-family: 'Fira Code', monospace;
  // font-family: 'Fira Mono', monospace;
  // font-family: 'Lucida Console', monospace;
  // font-family: 'Source Code Pro', monospace;

  --x1:1.1;
  --x2:calc(var(--x1)*var(--x1));
  --x3:calc(var(--x2)*var(--x1));
  --x4:calc(var(--x3)*var(--x1));
  --x5:calc(var(--x4)*var(--x1));
  --x6:calc(var(--x5)*var(--x1));
}

@page { /* see: https://stackoverflow.com/questions/8228088/remove-header-and-footer-from-window-print */
	margin: 0;
}

[data-theme="light"] {
  --col-bg: #f0f0f0;
  --col-bg-accent: #e0e0e0;
  --col-bg-highlight: #fc6471;
  --col-accent: dimgrey;
  --col-txt-heading: black;
  --col-txt: black;
  --col-txt-hover: crimson;
  --col-txt-highlight: dimgrey;
}

[data-font="Comfortaa"] { --font: "Comfortaa" }
[data-font="Montserrat"] { --font: "Montserrat", sans-serif }
[data-font="Open Sans"] { --font: "Open Sans" , sans-serif}
[data-font="Computer Modern Sans"] { --font: "Computer Modern Sans" , sans-serif}
[data-font="Computer Modern Serif"] { --font: "Computer Modern Serif", serif }


.toggle-theme {
  margin-top: 1.5em;
  margin-bottom: -1em;
  cursor: pointer;
  user-select: none;

  input[type=checkbox] {
    display: none;
  }
}

.toggle-theme-icon {
  width: 1em;

  &:hover {
    color: var(--col-txt-hover)
  }
}

#icon-theme {
  height: clamp(1.5em,10vw,2em);
}

// --->
::selection {
  background-color: var(--col-txt-hover);
  color: var(--col-txt-heading);
}

// --->
::-moz-focus-inner {
  border: 0;
}
:focus {outline:none !important;}

// --->
:root{
  scrollbar-color: var(--col-txt-highlight) var(--col-bg) !important;
}
* {
  scrollbar-width: thin !important;
}
html, main, body {
  // scrollbar-color: var(--col-txt-hover) var(--col-bg);
  scrollbar-width: auto !important;
  -webkit-tap-highlight-color:  transparent; 
}

*::-webkit-scrollbar {
  color: transparent;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button{
  display:none;
}
*::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  background-color: transparent;
  border: var(--line-px) solid var(--col-txt-highlight);
  border-radius: var(--border-radius);
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  font-family: "Comfortaa";
  font-family: "Montserrat", sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: "Computer Modern Sans", sans-serif;
  font-family: "Computer Modern Serif", serif;
  font-family: var(--font);

  font-weight: 400;
  // font-size: 18px;
  font-size: calc(1rem + 0.2vw );
 
  // transition: all 0.5s;

  background: var(--col-bg);
  color: var(--col-txt-heading) !important;
}


// ---> a
a {
  color: var(--col-txt);
  text-decoration: none;

  &:visited {
    color: var(--col-txt);
  }
  &:hover {
    color: var(--col-txt-hover) !important;
    text-decoration: 1px solid underline currentColor;
  }
}

// ---> main

main {
  // min-height: 80vh;
}

body {
  width: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 94vw;
  grid-template-rows: auto 1fr auto;
}

// ---> header

header {
  width: 100%;
  border-bottom: var(--line-border);
  padding: 1em 0;
  // text-transform: lowercase;
  text-align: center;
  margin: 0 auto;

  .head {
    margin: 1.5em auto;
    position: relative;
    text-align: center;
    display: inline-block;
  }
  
  .title {
    text-decoration: none;
    // color: var(--col-txt-heading);
    font-size: clamp(0.01em,6vw,1.5em);
    font-weight: 300;
    letter-spacing: 0.75em;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.5em;
    max-width: 100vw;
    word-break: normal;
  }
  
  .logo {
    width: 100%;
    max-width: 20vh;
    text-align: center;
    margin: auto;
    margin-top: 2.5em;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }transition: 0.5s;
  }
  
  .link {
    color: var(--col-txt-heading);
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
  }

  #toggle-theme {
    margin-bottom: 1em;

  }

  #icon-theme {
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }transition: 0.5s;
  }

  nav {
    margin-top: 1em;
  }
}

// --->

.vertical {
  margin: 2em 50%;
  border-left: var(--line-border);
  height: 3.5em;
}

// ---> cards

.card-list {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  gap: min(5%, 2.5em);
  justify-content: space-between;
  margin-top: -1em;
}

.card-title {
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.card {
  flex: 1 1 max(400px, 20%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em;
  // border: 1px solid var(--col-txt-highlight);
  // border: var(--line-px) solid transparent;
  border-radius: var(--border-radius);
  margin: 1em auto;
  // background-color: #181818;

  border-color: var(--col-txt);

  &:hover {
    text-decoration: none !important;
    box-shadow: inset 0px 0px 2.5em var(--col-txt-highlight);
    border-color: var(--col-txt-hover);
    transition: 0.25s;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  transition: 0.25s;

  -webkit-mask-image: url(/assets/mask6.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 92% 92%;
  mask-image: url(/assets/mask6.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 92% 92%;

  background-color: var(--col-bg-accent);
}

.card, .page-content { max-width: 100%; }

@media only screen and (min-width: 1280px) {
  /* tablets and desktop */
  .page-content { max-width: 75%; }
}
// @media only screen and (min-width: 1280px) {
//   /* tablets and desktop */
//   .card, .page-content { max-width: 75%; }
// }
// @media only screen and (max-width: 767px) {
//   /* phones */
//   .card, .page-content { max-width: 100%; }
// }
// @media only screen and (max-width: 767px) and (orientation: portrait) {
//   /* portrait phones */
//   .card, .page-content { max-width: 100%; }
// }

.card-txt{
  font-size: 1em;
  line-height: 1.5em;
  color: var(--col-txt);
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
  width: 100%;
}

.card a {
  color: var(--col-txt-heading);
  margin: auto;
}

// .card-img {
//   margin-bottom: 1.5em;
//   // box-shadow: 0px 0px 5px var(--col-txt);

//   // -webkit-mask-image: url(/assets/mask1.png);
//   // -webkit-mask-repeat: no-repeat;
//   // -webkit-mask-position: center;
//   // -webkit-mask-size: 100%;
//   // mask-image: url(/assets/mask2.png);
//   // mask-repeat: no-repeat;
//   // mask-position: center;
//   // mask-size: 100%;
// }

.card-img img {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: auto;
  margin-bottom: 1.5em;

  -webkit-mask-image: url(/assets/mask3.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;
  mask-image: url(/assets/mask2.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.projects h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  margin: 1em 0;
  text-decoration: underline var(--border-radius) solid var(--col-txt-hover);
}

// ---> page-content

.page-content {
  text-align: left;
  margin: 2.5em auto 1.5em auto;
  width: 90%;
  // overflow: visible;
  font-size: 1em;
  line-height: 1.6em;
  color: var(--col-txt);

  a {
    text-decoration: underline var(--line-px) solid var(--col-txt-heading);
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--col-txt-heading);
    word-break: break-word;
    overflow-wrap: anywhere;
    hyphens: auto;
    line-height: 150%;
  }
  h1 {
    margin: 2em 0;
    font-size: 2.0em;
    font-weight: 900;
    letter-spacing: 0.25em;
  }
  h2 {
    margin: 2em 0;
    font-size: 1.25em;
    font-weight: 900;
    text-decoration: 4px solid underline var(--col-txt-hover);
  }
  h3 {
    margin: 1.5em 0;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: 2px solid underline var(--col-txt-hover);
  }
  h4 {
    font-size: 1em;
    margin: 1.25em 0;
  }
  h5 {
    font-size: 1em;
    font-weight: 500;
    margin: 1em 0;
  }
  h6 {
    font-weight: 500;
    font-size: 0.9em;
    margin: 0.5em 0;
  }

  position: relative;

  h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    a.permalink {
      position: absolute;
      opacity: 0;
      padding: 0.25em 0.5em;
    }
    &:hover {
      a.permalink {
        text-decoration: none;
        text-decoration-color: var(--col-txt-hover);
        color: currentColor;
        opacity: 1;  
      }
    }
  }
}

img {
  max-width: 100%;
  max-height: 50vh;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: var(--border-radius);
}

table {
  border-radius: var(--border-radius) / var(--border-radius);
  border: var(--line-border);
  border-spacing: 0px;
  font-size: var(--code-font-size);
  display: block;
  max-width: fit-content;
  max-width: -moz-fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  thead th,
  tbody:not(:last-child) tr:last-child td {
    border-bottom: var(--line-border);
  }
}
th {
  padding: 0.5em;
  background: var(--col-bg-accent);

  &:first-child {
    border-top-left-radius: var(--border-radius);
  }
  &:last-child {
    border-top-right-radius: var(--border-radius);
  }
}
tr {
  &:hover {
    background-color: var(--col-bg-accent);
  }
  td {
    padding: 0.5em;
  }
}



// ---> footer

footer {
  border-top: var(--line-border);
  margin: 1.5em 0 5em 0;
  padding: 2.5em 0;
  font-size: var(--code-font-size);
}

.flexbox {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: right;
  flex: 1 1 7.5em;
  display: grid;
  place-items: center;
}

.top {
  color: var(--col-txt);
}

.bot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  color: var(--col-txt-heading) !important;
}

.social {
  padding: 0 1em;
  color: var(--col-txt-heading) !important;
  width: 2em;

  &:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
  }transition: 0.5s ease;
}

.dot {
  font-weight: 600;
  font-size: 1.5em;
  opacity: 70%;
  color: var(--col-txt-hover) !important;
  display: none;
}

hr {
  border: none;
  border-top: var(--line-border);
}


.footnotes {
  margin-top: 3em;
  border-top: var(--line-border);
  border-bottom: var(--line-border);
  font-size: var(--code-font-size);

  &::before {
    content: "Footnotes:";
    display: block;
    margin: 1.5em auto;
  }
  li {
    font-weight: bold;
  }
  p {
    font-weight: 300;
  }
}

abbr {
  // text-decoration: var(--line-px) dashed underline var(--col-txt-heading);
}

blockquote {
  font-size: var(--code-font-size);
  margin: 0;
  font-style: italic;
  padding: 0 1em;
  color: var(--col-txt-highlight);
  border-left: var(--border-radius) solid var(--col-bg-highlight);
}

.tagcloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  line-height: 1em;
  margin-top: 1.5em;
}
.tag {
  // font-family: 'Roboto Mono', monospace;
  font-size: var(--code-font-size);
  // letter-spacing: 0.1em;
  flex: 0 1 auto;
  padding: 0.25em 0.5em;
  border: var(--line-border);
  text-align: center;
  text-decoration: none !important;
  border-radius: var(--border-radius);
  color: var(--col-txt);

  &:hover{
    border-color: var(--col-txt-hover);
  }
  &:visited {
    color: var(--col-txt);
  }
}


.center {
  margin: auto;
  text-align: center !important;
}

/**************************
*        Dropdown         *
**************************/
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

  background-color: transparent;
  color: var(--col-txt);
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: var(--line-border);
  cursor: pointer;
  width: 100%;
	margin: 0;

	background-color: var(--col-bg);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23888888%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right 0.5em top 50%;
	background-size: .65em auto;

  option {
    background-color: var(--col-bg);
  }
}

/**************************
*           TOC           *
**************************/
details.toc {
  // background-color: var(--col-bg-accent);
  user-select: none;
  font-size: var(--code-font-size);
  line-height: 1.25em;
  border: var(--line-border);
  // border-left: 0.5em solid var(--col-txt-hover);
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: var(--border-radius);
  padding: 1em;

  summary {
    // padding: 1em;
    cursor: pointer;
    font-weight: bold;
  }

  #markdown-toc {
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: 1px solid underline var(--col-txt-hover);
    }
  }

  // max-height: 33vh;
  // overflow: auto;
}

/**************************
*         Videos         *
**************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16/9
  padding-top: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/**************************
*      Info Boxes         *
**************************/
.note,.warn,.info {
  font-family: var(--font) !important;
  font-size: var(--code-font-size);
  line-height: 1.6em;
  border: var(--line-border);
  border-radius: var(--border-radius);
  border-left-width: var(--border-radius);
  border-right-width: var(--border-radius);
  // border-left-color: var(--col-txt-hover);
  // border-right-color: var(--col-txt-hover);

  padding: 0.5em 1em;
  position: relative;
  background-color: var(--col-bg);
  margin-top: 2em;

  // box-shadow: 0 0 0.5em var(--col-accent);

  &::before {
    font-family: '#{$icomoon-font-family}';
    line-height: 125%;
    position: absolute;
    left: 1em;
    top: 0;
    border: var(--line-border);
    border-radius: var(--border-radius);
    // box-shadow: 0 0 0.5em var(--col-accent);

    padding: 0.25em 0.5em;
    background-color: var(--col-bg);
    transform: translateY(-50%);
  }

  &[title]::after {
    content: attr(title);
    position: absolute;
    font-family: var(--font) !important;
    font-size: 1.1em;
    font-weight: bold;
    top: 0.6em;
    left: 0.8em;
  }

  &[title] {
    padding-top: 2.5em;
  }

  &[class*=icon] {
    padding-top: 3em;
    &[title]::after {
      top: 1.1em;
    }
  }
}

.info, .warn {
  padding-top: 1em;

  &[title] {
    padding-top: 3em;
  }

  &[title]::after {
    top: 1.1em;
  }
}

// p.info {
//   border-left-color: DodgerBlue;
//   border-right-color: DodgerBlue;
// }
// p.warn {
//   border-left-color: darkorange;
//   border-right-color: darkorange;
// }

.info::before { content: $icon-lightbulb_outline; }
.warn::before { content: $icon-error_outline; }


/**************************
*     Code Blocks         *
**************************/ 

code {
  font-size: var(--code-font-size);
  font-family: var(--code-font);
  background-color: var(--col-bg-accent);
  background-color: transparent;
  // background-color: #dfdfdf;
  letter-spacing: normal;
  // line-height: 150%;
  padding: 0.05em 0.3em 0.15em 0.3em;
  margin: 0;
  border: 1px solid transparent;
  border: var(--line-border);
  // border-color: var(--col-bg-accent);
  // border-color: #dfdfdf;
  border-radius: var(--border-radius);
}

pre {
  max-height: 50vh;
  overflow: auto;
  // font-size: var(--code-font-size);
  background-color: var(--col-bg);
  border: var(--line-border);
  border-radius: var(--border-radius);
  padding: 0.25em 0.75em 0.5em 0.75em;
  // overflow-x: auto;
  line-height: 1.25em;  
  margin: 1em auto;

  code {
    background-color: transparent;
    line-height: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }
}

.highlighter-rouge,
.good, .bad {
  position: relative;

  &::before,
  &[txt]::after {
    padding: 0.25em 0.5em;
    position: absolute;
    top: 0;
    border: var(--line-border);
    border-radius: var(--border-radius);
    font-size: var(--code-font-size);
    line-height: 125%;
    background-color: var(--col-bg);
    transform: translateY(-50%);
  }

  &[txt]::after {
    content: attr(txt);
    font-family: var(--code-font);
    right: 1em;
  }

  &::before {
    font-family: '#{$icomoon-font-family}';
    left: 1em;
  }
}

[class*=icon].highlighter-rouge pre,
.good pre, .bad pre {
  padding-top: 1em;
}

.good {
  &::before {
    content: $icon-check;
    // border-color: var(--col-good);
  }
}
.bad {
  &::before {
    content: $icon-block;
    // border-color: var(--col-bad);
  }
}

/**************************
*       em & strong       *
**************************/

em {
  font-weight: normal;
  font-weight: 500;
  font-style: italic;
}

strong {
  font-weight: bold;
  font-weight: 700;
  em {
    font-weight: bolder;
    font-weight: 800;
  }
}


// .highlight {
//   .c     { color: #545454; font-style: italic } // Comment
//   .err   { color: #f07178; background-color: #e3d2d2 } // Error
//   .k     { color: #89DDFF; font-weight: bold } // Keyword
//   .o     { font-weight: bold } // Operator
//   .cm    { color: #545454; font-style: italic } // Comment.Multiline
//   .cp    { color: #545454; font-weight: bold } // Comment.Preproc
//   .c1    { color: #545454; font-style: italic } // Comment.Single
//   .cs    { color: #545454; font-weight: bold; font-style: italic } // Comment.Special
//   .gd    { color: #000; background-color: #fdd } // Generic.Deleted
//   .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
//   .ge    { font-style: italic } // Generic.Emph
//   .gr    { color: #f07178 } // Generic.Error
//   .gh    { color: #999 } // Generic.Heading
//   .gi    { color: #000; background-color: #dfd } // Generic.Inserted
//   .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
//   .go    { color: #888 } // Generic.Output
//   .gp    { color: #555 } // Generic.Prompt
//   .gs    { font-weight: bold } // Generic.Strong
//   .gu    { color: #aaa } // Generic.Subheading
//   .gt    { color: #f07178 } // Generic.Traceback
//   .kc    { font-weight: bold } // Keyword.Constant
//   .kd    { font-weight: bold } // Keyword.Declaration
//   .kp    { font-weight: bold } // Keyword.Pseudo
//   .kr    { font-weight: bold } // Keyword.Reserved
//   .kt    { color: #FFCB6B; font-weight: bold } // Keyword.Type
//   .m     { color: #F78C6C } // Literal.Number
//   .s     { color: #C3E88D } // Literal.String
//   .na    { color: #008080 } // Name.Attribute
//   .nb    { color: #EEFFFF } // Name.Builtin
//   .nc    { color: #FFCB6B; font-weight: bold } // Name.Class
//   .no    { color: #008080 } // Name.Constant
//   .ni    { color: #800080 } // Name.Entity
//   .ne    { color: #900; font-weight: bold } // Name.Exception
//   .nf    { color: #82AAFF; font-weight: bold } // Name.Function
//   .nn    { color: #555 } // Name.Namespace
//   .nt    { color: #FFCB6B } // Name.Tag
//   .nv    { color: #EEFFFF } // Name.Variable
//   .ow    { font-weight: bold } // Operator.Word
//   .w     { color: #EEFFFF } // Text.Whitespace
//   .mf    { color: #F78C6C } // Literal.Number.Float
//   .mh    { color: #F78C6C } // Literal.Number.Hex
//   .mi    { color: #F78C6C } // Literal.Number.Integer
//   .mo    { color: #F78C6C } // Literal.Number.Oct
//   .sb    { color: #C3E88D } // Literal.String.Backtick
//   .sc    { color: #C3E88D } // Literal.String.Char
//   .sd    { color: #C3E88D } // Literal.String.Doc
//   .s2    { color: #C3E88D } // Literal.String.Double
//   .se    { color: #EEFFFF } // Literal.String.Escape
//   .sh    { color: #C3E88D } // Literal.String.Heredoc
//   .si    { color: #C3E88D } // Literal.String.Interpol
//   .sx    { color: #C3E88D } // Literal.String.Other
//   .sr    { color: #C3E88D } // Literal.String.Regex
//   .s1    { color: #C3E88D } // Literal.String.Single
//   .ss    { color: #C3E88D } // Literal.String.Symbol
//   .bp    { color: #999 } // Name.Builtin.Pseudo
//   .vc    { color: #FFCB6B } // Name.Variable.Class
//   .vg    { color: #EEFFFF } // Name.Variable.Global
//   .vi    { color: #EEFFFF } // Name.Variable.Instance
//   .il    { color: #F78C6C } // Literal.Number.Integer.Long
// }


/**************************
*          Docs           *
**************************/

.page-content.docs {
  max-width: 100% !important;
}

.docs {
  display: flex;
  flex-direction: row;
  // min-height: 50vh;
}

#docs-main {
  margin-left: 0.1em;
  padding-left: 1.5em;
  border-left: var(--line-border);
  flex-grow: 1;
}

@-moz-document url-prefix() { 
  #docs-main {
    // border: none;
  }
}
#docs-toc {
  header {
    font-weight: bold;
    border: none;
  }
  overflow-y: auto;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: calc( 100vh - 2em );
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  padding-right: 1.5em;
  margin: 2.5em 0 1.5em 0;
}

#toc {
  font-size: var(--code-font-size);

  ul {
    line-height: 1.4em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1em;
  }

  // li { list-style-type: square; }
  // li li { list-style-type: disc; }
  // li li li { list-style-type: circle; }
  // li li li li { list-style-type: circle; }
  // li li li li li { list-style-type: circle; }
}

@media screen and (max-width: 1280px) {
  .docs {
    flex-direction: column;
  }
  #docs-toc {
    position: relative;
    box-sizing: border-box;
    padding: 0 1em 1em 1em;
    height: 100%;
    max-height: 60vh;
    border: var(--line-border);
    border-radius: var(--border-radius);
    position: relative;
    header {
      // font-size: 1.25em;
      text-align: left;
    }
  }
  #docs-main {
    padding: 0;
    margin: 0 auto;
    border: none;
  }
  #toc {
    font-size: var(--code-font-size);
  }
}

.home {
  text-align: center;
}
