@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// --->

:root {
  --col-bg: #0f0f0f;
  --col-bg-accent: #181818;
  --col-accent: dimgrey;
  --col-txt-heading: #ccc;
  --col-txt: darkgrey;
  --col-txt-hover: teal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // font-family: "Comfortaa" !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: var(--col-bg);
  color: var(--col-txt-heading) !important;
}

// ---> a
a {
  color: var(--col-txt);
  text-decoration: none;
}
a:visited {
  color: var(--col-txt);
}
a:hover {
  color: var(--col-txt-hover) !important;
}

// ---> main

main {
  min-height: 80vh;
}

body {
  width: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 90vw;
  grid-template-rows: auto 1fr auto;
}

// ---> header

header {
  width: 100%;
  border-bottom: 1px solid var(--col-accent);
  padding: 20px 0;
  text-transform: lowercase;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

header .head {
  margin: 30px auto;
  position: relative;
  text-align: center;
  display: inline-block;
}

header .title {
  text-decoration: none;
  color: var(--col-txt-heading);
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.75em;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

header .logo {
  width: 100%;
  max-width: 20vh;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  opacity: 70%;
}

header .link {
  color: var(--col-txt-heading);
  font-weight: 500;
}

// --->

.line {
  top: 50%;
  margin: 30px auto;
  border-right: 2px solid var(--col-accent);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

// --->

.vertical {
  margin: 40px 50%;
  border-left: 2px solid var(--col-accent);
  height: 80px;
}

// ---> intro

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCussor 1s step-end infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCussor {
  50% {
    border-right-color: var(--col-txt);
  }
  from,
  to {
    border-right-color: transparent;
  }
}

.intro {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: normal;
  overflow-x: hidden;
}

.intro h1 {
  font-weight: 600;
  text-align: center;
  letter-spacing: -2px;
  line-height: 5vw;
  font-size: 4vw;
  word-wrap: normal;
  color: var(--col-txt-heading);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--col-accent);
  border-right: 2px solid var(--col-accent);
  transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

// ---> colors

.color-youtube {
  color: red;
}
.color-twitch {
  color: darkmagenta;
}
.color-twitter {
  color: skyblue;
}
.color-github {
  color: orange;
}

.col-aliceblue {
  color: aliceblue;
}
.col-antiquewhite {
  color: antiquewhite;
}
.col-aqua {
  color: aqua;
}
.col-aquamarine {
  color: aquamarine;
}
.col-azure {
  color: azure;
}
.col-beige {
  color: beige;
}
.col-bisque {
  color: bisque;
}
.col-black {
  color: black;
}
.col-blanchedalmond {
  color: blanchedalmond;
}
.col-blue {
  color: blue;
}
.col-blueviolet {
  color: blueviolet;
}
.col-brown {
  color: brown;
}
.col-burlywood {
  color: burlywood;
}
.col-cadetblue {
  color: cadetblue;
}
.col-chartreuse {
  color: chartreuse;
}
.col-chocolate {
  color: chocolate;
}
.col-coral {
  color: coral;
}
.col-cornflowerblue {
  color: cornflowerblue;
}
.col-cornsilk {
  color: cornsilk;
}
.col-crimson {
  color: crimson;
}
.col-cyan {
  color: cyan;
}
.col-darkblue {
  color: darkblue;
}
.col-darkcyan {
  color: darkcyan;
}
.col-darkgoldenrod {
  color: darkgoldenrod;
}
.col-darkgray {
  color: darkgray;
}
.col-darkgrey {
  color: darkgrey;
}
.col-darkgreen {
  color: darkgreen;
}
.col-darkkhaki {
  color: darkkhaki;
}
.col-darkmagenta {
  color: darkmagenta;
}
.col-darkolivegreen {
  color: darkolivegreen;
}
.col-darkorange {
  color: darkorange;
}
.col-darkorchid {
  color: darkorchid;
}
.col-darkred {
  color: darkred;
}
.col-darksalmon {
  color: darksalmon;
}
.col-darkseagreen {
  color: darkseagreen;
}
.col-darkslateblue {
  color: darkslateblue;
}
.col-darkslategray {
  color: darkslategray;
}
.col-darkslategrey {
  color: darkslategrey;
}
.col-darkturquoise {
  color: darkturquoise;
}
.col-darkviolet {
  color: darkviolet;
}
.col-deeppink {
  color: deeppink;
}
.col-deepskyblue {
  color: deepskyblue;
}
.col-dimgray {
  color: dimgray;
}
.col-dimgrey {
  color: dimgrey;
}
.col-dodgerblue {
  color: dodgerblue;
}
.col-firebrick {
  color: firebrick;
}
.col-floralwhite {
  color: floralwhite;
}
.col-forestgreen {
  color: forestgreen;
}
.col-fuchsia {
  color: fuchsia;
}
.col-gainsboro {
  color: gainsboro;
}
.col-ghostwhite {
  color: ghostwhite;
}
.col-gold {
  color: gold;
}
.col-goldenrod {
  color: goldenrod;
}
.col-gray {
  color: gray;
}
.col-grey {
  color: grey;
}
.col-green {
  color: green;
}
.col-greenyellow {
  color: greenyellow;
}
.col-honeydew {
  color: honeydew;
}
.col-hotpink {
  color: hotpink;
}
.col-indianred {
  color: indianred;
}
.col-indigo {
  color: indigo;
}
.col-ivory {
  color: ivory;
}
.col-khaki {
  color: khaki;
}
.col-lavender {
  color: lavender;
}
.col-lavenderblush {
  color: lavenderblush;
}
.col-lawngreen {
  color: lawngreen;
}
.col-lemonchiffon {
  color: lemonchiffon;
}
.col-lightblue {
  color: lightblue;
}
.col-lightcoral {
  color: lightcoral;
}
.col-lightcyan {
  color: lightcyan;
}
.col-lightgoldenrodyellow {
  color: lightgoldenrodyellow;
}
.col-lightgray {
  color: lightgray;
}
.col-lightgrey {
  color: lightgrey;
}
.col-lightgreen {
  color: lightgreen;
}
.col-lightpink {
  color: lightpink;
}
.col-lightsalmon {
  color: lightsalmon;
}
.col-lightseagreen {
  color: lightseagreen;
}
.col-lightskyblue {
  color: lightskyblue;
}
.col-lightslategray {
  color: lightslategray;
}
.col-lightslategrey {
  color: lightslategrey;
}
.col-lightsteelblue {
  color: lightsteelblue;
}
.col-lightyellow {
  color: lightyellow;
}
.col-lime {
  color: lime;
}
.col-limegreen {
  color: limegreen;
}
.col-linen {
  color: linen;
}
.col-magenta {
  color: magenta;
}
.col-maroon {
  color: maroon;
}
.col-mediumaquamarine {
  color: mediumaquamarine;
}
.col-mediumblue {
  color: mediumblue;
}
.col-mediumorchid {
  color: mediumorchid;
}
.col-mediumpurple {
  color: mediumpurple;
}
.col-mediumseagreen {
  color: mediumseagreen;
}
.col-mediumslateblue {
  color: mediumslateblue;
}
.col-mediumspringgreen {
  color: mediumspringgreen;
}
.col-mediumturquoise {
  color: mediumturquoise;
}
.col-mediumvioletred {
  color: mediumvioletred;
}
.col-midnightblue {
  color: midnightblue;
}
.col-mintcream {
  color: mintcream;
}
.col-mistyrose {
  color: mistyrose;
}
.col-moccasin {
  color: moccasin;
}
.col-navajowhite {
  color: navajowhite;
}
.col-navy {
  color: navy;
}
.col-oldlace {
  color: oldlace;
}
.col-olive {
  color: olive;
}
.col-olivedrab {
  color: olivedrab;
}
.col-orange {
  color: orange;
}
.col-orangered {
  color: orangered;
}
.col-orchid {
  color: orchid;
}
.col-palegoldenrod {
  color: palegoldenrod;
}
.col-palegreen {
  color: palegreen;
}
.col-paleturquoise {
  color: paleturquoise;
}
.col-palevioletred {
  color: palevioletred;
}
.col-papayawhip {
  color: papayawhip;
}
.col-peachpuff {
  color: peachpuff;
}
.col-peru {
  color: peru;
}
.col-pink {
  color: pink;
}
.col-plum {
  color: plum;
}
.col-powderblue {
  color: powderblue;
}
.col-purple {
  color: purple;
}
.col-red {
  color: red;
}
.col-rosybrown {
  color: rosybrown;
}
.col-royalblue {
  color: royalblue;
}
.col-saddlebrown {
  color: saddlebrown;
}
.col-salmon {
  color: salmon;
}
.col-sandybrown {
  color: sandybrown;
}
.col-seagreen {
  color: seagreen;
}
.col-seashell {
  color: seashell;
}
.col-sienna {
  color: sienna;
}
.col-silver {
  color: silver;
}
.col-skyblue {
  color: skyblue;
}
.col-slateblue {
  color: slateblue;
}
.col-slategray {
  color: slategray;
}
.col-slategrey {
  color: slategrey;
}
.col-snow {
  color: snow;
}
.col-springgreen {
  color: springgreen;
}
.col-steelblue {
  color: steelblue;
}
.col-tan {
  color: tan;
}
.col-teal {
  color: teal;
}
.col-thistle {
  color: thistle;
}
.col-tomato {
  color: tomato;
}
.col-turquoise {
  color: turquoise;
}
.col-violet {
  color: violet;
}
.col-wheat {
  color: wheat;
}
.col-white {
  color: white;
}
.col-whitesmoke {
  color: whitesmoke;
}
.col-yellow {
  color: yellow;
}
.col-yellowgreen {
  color: yellowgreen;
}

// ---> projects

.prj-list {
  display: flex;
  flex-wrap: wrap;
  gap: min(5%, 50px);
  justify-content: space-between;
  margin-top: -20px;
}

.prj-title {
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 400;
  padding: 30px;
}

.prj {
  flex: 1 1 max(400px, 20%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  border: 2px solid var(--col-bg-accent);
  margin: 20px auto;
  // background-color: #181818;
}

.prj:hover {
  border-color: var(--col-accent);
}

.prj,
.page-content {
  max-width: 1280px;
}

.prj-txt,
.page-content {
  font-size: 1em;
  line-height: 1.8em;
  color: var(--col-txt);
  text-align: justify;
}

.prj a {
  text-decoration: none;
  color: var(--col-txt-heading);
  margin: auto;
}

.prj-img img {
  max-height: 300px;
  margin: auto;
  background-size: cover;
  margin-bottom: 30px;
  border-radius: 5px;
}

.projects h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  margin: 50px auto;
}

// ---> page-content

.page-content {
  margin: 50px auto;
  width: 90vw;
  text-align: justify;
  overflow: auto;
}

.page-content a {
  text-decoration: underline 1px solid var(--col-txt);
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  color: var(--col-txt-heading);
}

.page-content h1 {
  margin: 60px auto;
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.25em;
}
.page-content h2 {
  margin: 50px auto;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: 4px solid underline var(--col-accent);
}
.page-content h3 {
  margin: 40px auto;
  font-weight: 700;
  font-size: 1.3em;
  text-decoration: 2px solid underline var(--col-accent);
}
.page-content h4 {
  font-size: 1em;
  margin: 30px auto;
}
.page-content h5 {
  font-size: 1em;
  font-weight: 500;
  margin: 20px auto;
}
.page-content h6 {
  font-weight: 500;
  font-size: 0.8em;
  margin: 10px auto;
}

img {
  max-width: 100%;
  max-height: 50vh;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 60%;
}
thead tr {
  background-color: var(--col-bg-accent);
  color: var(--col-txt-heading);
  text-align: left;
  border-bottom: 1px solid var(--col-bg-accent);
}
th,
td {
  padding: 12px 15px;
}
tbody tr:nth-of-type(even) {
  background-color: var(--col-bg);
}
tbody tr:last-of-type {
  border-bottom: 2px solid var(--col-bg-accent);
}
tbody tr:hover {
  color: var(--col-txt-heading);
}

pre {
  font-size: 80%;
  background-color: var(--col-bg);
  border: 1px solid var(--col-bg-accent);
  padding: 20px;
  overflow-x: auto;
  border-radius: 5px;
}

// ---> footer

footer {
  border-top: 1px solid var(--col-accent);
  margin: 50px 0 100px 0;
  padding: 50px 0;
  font-size: 0.9em;
}

.flexbox {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.box {
  text-align: right;
  flex: 1 1 150px;
  display: grid;
  place-items: center;
}

.top {
  color: var(--col-txt);
}

.bot {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: var(--col-txt-heading) !important;
}

.social {
  padding: 0 20px;
  color: var(--col-txt-heading) !important;
}

.dot {
  font-weight: 600;
  font-size: 1.5em;
  opacity: 70%;
}
