---
layout: default
---

<div class="page-content">
    {{ content }}

    {% if page.tags != empty or page.categories != empty %}
        <div class="tagcloud">
            {% for tagitem in page.tags | sort %}
                <a class="tag" href="/Tags#{{ tagitem | slugify }}">{{ tagitem }}</a>
            {% endfor %}
            {% for tagitem in page.categories | sort %}
            <a class="tag" href="/Categories#{{ tagitem | slugify }}">{{ tagitem }}</a>
        {% endfor %}
        </div>
    {% endif %}
</div>
