---
layout: default
---

<div class="page-content">
    
    {% if page.toc != false %}
        <details class="toc">
            <summary markdown="span">Table of Contents</summary>
        
            {% include toc.html html=content %}
        
        </details>
    {% endif %}

    {{ content }}

    {% if page.tags != empty or page.categories != empty %}
        {%assign tags = page.tags | sort %}
        {%assign cats = page.categories | sort %}
        <div class="tagcloud">
            {% for tagitem in tags %}
                <a class="tag" href="/Tags#{{ tagitem | slugify }}">{{ tagitem }}</a>
            {% endfor %}
            {% for tagitem in cats %}
                <a class="tag" href="/Categories#{{ tagitem | slugify }}">{{ tagitem }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
